body {
  text-align: center;
  background-color: #ff9494;
}
h1 {
  font-size: 5rem;
  color: #ffd1d1;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #614004;
}
.squeaky1 {
  background-image: url("toysImages/1.jpg");
}
.squeaky2 {
  background-image: url("toysImages/2.jpg");
}
.squeaky3 {
  background-image: url("toysImages/3.jpg");
}
.squeaky4 {
  background-image: url("toysImages/4.jpg");
}
.squeaky5 {
  background-image: url("toysImages/5.jpg");
}
.squeaky6 {
  background-image: url("toysImages/6.jpg");
}

.toys {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-color: white;
  outline: none;
  border-radius: 25px;
  font-size: 5rem;
  font-family: "Roboto", cursive;
  font-weight: 900;
  line-height: 5;
  color: #ff9494;
  text-shadow: 3px 0 #ffd1d1;
  display: inline-block;
  width: 500px;
  height: 500px;
  margin: 15px;
  text-align: center;
}
.toys:hover {
  background-color: yellow;
}
